<main>
    <section id="skills" class="container py-5">
        <h1 class="text-center mb-4">My Skills</h1>
        <div class="row text-center">
            <!-- Skill 1: HTML -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('html.png', alt: 'HTML', class: 'img-fluid') %>
                </div>
                <h5>HTML</h5>
            </div>
            <!-- Skill 2: CSS -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('css-3.png', alt: 'CSS', class: 'img-fluid') %>
                </div>
                <h5>CSS</h5>
            </div>
            <!-- Skill 3: JavaScript -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('java-script.png', alt: 'JavaScript', class: 'img-fluid') %>
                </div>
                <h5>JavaScript</h5>
            </div>
            <!-- Skill 4: TypeScript -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('typescript.png', alt: 'TypeScript', class: 'img-fluid') %>
                </div>
                <h5>TypeScript</h5>
            </div>
            <!-- Skill 5: Java -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('java.png', alt: 'Java', class: 'img-fluid') %>
                </div>
                <h5>Java</h5>
            </div>
            <!-- Skill 6: Ruby -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('programming-language-ruby.svg', alt: 'Ruby', class: 'img-fluid') %>
                </div>
                <h5>Ruby</h5>
            </div>
            <!-- Skill 7: Ruby on Rails -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('language-ruby-on-rails.svg', alt: 'Ruby on Rails', class: 'img-fluid') %>
                </div>
                <h5>Ruby on Rails</h5>
            </div>
            <!-- Skill 8: PostgreSQL -->
            <div class="col-md-3 mb-4">
                <div class="skill-icon">
                    <%= image_tag('elephant.png', alt: 'PostgreSQL', class: 'img-fluid') %>
                </div>
                <h5>PostgreSQL</h5>
            </div>
        </div>
    </section>
</main>
